.header {
    min-height: 10vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #1d1c22;
    color: #fe744f; 
    border-bottom: 2px solid black;
    box-shadow: 0px 2px #fd1b2f,
                0px 20px 50px black;
}

.header-logo {
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    background-color: #fd1b2f;
    margin-right: 30px;
}

.roadheart {
    background-image: url('./repository-bg.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 93.6vmin;
}

.roadheart-no-sidebar {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px;
    max-width: 800px;
    background-color: #1d1c22;
    color: #e4d3c5;
    text-align: left;
}

.roadheart h1, .roadheart h2, .roadheart h3 {
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-style: normal;
    color: #fe744f; 
    line-height: 1.2;
  }

.roadheart b {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: #fe744f; 
    line-height: 1.2;
    font-size: .9em;
}

.roadheart-external-link {
    text-decoration: none;
    color:#fe744f;
}

.roadheart-external-link:hover {
    color:#fd1b2f
}

.roadheart-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.materials-list {
    list-style-image: url('star-icon.svg');
    text-align: left;
    filter: invert(57%) sepia(19%) saturate(2924%) hue-rotate(328deg) brightness(102%) contrast(99%);
}

.materials-list b {
    color: black;
}

.roadheart-with-sidebar {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.roadheart-crafting-section {
    background-color: #1d1c22;
    margin: 40px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #fe744f;
    box-shadow: 0px 0px 20px black;
}

.crafting-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
}

.crafting-item {
    margin: 10px;
    background-color: #52575d;
    border-radius: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid transparent;
    line-height: .8; 
    text-align: center;
}

.crafting-item:hover {
    border: 1px solid #fe744f;/*#6d6a65;*/
}

.crafting-item h2 {
    height: 60px;
    font-size: 1.2rem;
    line-height: 1.3;
    border-bottom: 1px solid black;
    color: black;
    margin: 0 auto;
}

.crafting-item img {
    width: 15vmin;
    height: 15vmin;
    align-self: center;
  }
  
.crafting-list a {
    color: black;
    text-decoration: none;
  }

.character-profiles {
    list-style-type: none;
    padding-left: 0;
}

.character-profile {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 10px 0;
    color:#fe744f;
    border: 1px solid #fe744f;
}

.profile-img {
    height: 10vmin;
    border: 2px black solid;
    border-radius: 50%;
    margin: 5px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.profile-details-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.profile-details h3, .profile-details h4 {
    margin: 5px;
}

.profile-details h3::after {
    content: '';
    display: inline-flex;
    background-image: url('./sidebar/filigree1.svg');
    background-size: 80px 20px;
    height: 20px;
    width: 80px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
}

.profile-details h4 {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    line-height:.8;
}

.profile-details:nth-of-type(3) {
    padding-top: 30px;
}

.item-detail {
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: left;
}

.back-button-container {
    text-align: left;
}

.back-button {
    background-color: #fe744f ;
    padding: 5px;
    border: 1px black solid;
    margin-left: 20px;
}

.back-button-container a {
    color: black;
    text-decoration: none;
}

.item-detail img {
    margin: 20px;
    width: 40vmin;
    height: 40vmin;
}

.item-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.crafting-title::after {
    content: '';
    display: flex;
    background-image: url('./craftingitems/filigree2.svg');
    background-size: 300px 30px;
    height: 30px;
    width: 300px;
    margin: 10px auto;
}

.item-divider {
    background-image: url('./craftingitems/filigree3.svg');
    background-size: 300px 40px;
    height: 40px;
    width: 300px;
    margin: 10px auto;
}

.item-description {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    color:#e4d3c5;
}

.traits-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.traits-list li {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid black;
    background-color:#fe744f;
    color: black;
}

.item-info p {
    margin: 5px 0;
}

.roadheart-link {
    text-decoration: none;
    border: 1px solid #fe744f;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.roadheart-link h2 {
    margin: auto;
}

.roadheart-link img {
    height: 8vmin;
    margin: 10px 5px;
    filter: invert(57%) sepia(19%) saturate(2924%) hue-rotate(328deg) brightness(102%) contrast(99%);
}

.roadheart-link:hover {
    border: 1px solid #fd1b2f;
    color: #fd1b2f ;
    filter: invert(20%) sepia(77%) saturate(5550%) hue-rotate(347deg) brightness(105%) contrast(98%);
}

.item-detail-back-button img {
    height: 4vmin;
}

.item-detail-back-button .roadheart-link {
    max-width: 25%;
}

.item-recipe ul {
    list-style-image: url('star-icon.svg');
    line-height: 1.5;
    text-align: left;
}

.item-recipe b{
    color: black;
    line-height: 1.5;
}

.activate-icon img {
    height: 3vmin;
    width: 3vmin;
    margin: 0;
}