.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  background-color: #070b09;
  padding: 10px;
  color: white;
  min-height: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  height: 2.5vmin;
  margin: 0;
}

nav ul li {
  min-width: 200px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

nav a:hover{
  text-decoration:underline 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  background-color: #162c2e;
}